* {
  margin: 0;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato-Regular.ttf");
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  max-width: 1020px;
  height: 95px;
  background: #2D303A;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 550px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__nav {
  width: 375px;
  height: 14px;
}

@media (max-width: 550px) {
  .header__nav {
    display: none;
  }
}

.header__menu {
  width: 20px;
  height: 20px;
  background: #6e5656;
  display: none;
}

@media (max-width: 550px) {
  .header__menu {
    display: inline-block;
    position: absolute;
    left: 39px;
  }
}

.header__text h1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 29px 0 41px 40px;
}

.header__text_red {
  color: #F06C64;
}

.header__ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 42px 40px 39px 0;
}

.header__ul li a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.035em;
  text-decoration: none;
  color: #FFFFFF;
}

.header__ul li a:hover {
  color: #F06C64;
}

.main {
  max-width: 1020px;
  width: 100%;
}

.block-swiper {
  width: 100%;
  height: 600px;
  background-color: #F06C64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .block-swiper {
    height: 420px;
  }
}

@media (max-width: 550px) {
  .block-swiper {
    height: 220px;
  }
}

.block-swiper__phones {
  width: 796px;
  height: 483px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .block-swiper__phones {
    height: 420px;
  }
}

@media (max-width: 550px) {
  .block-swiper__phones {
    height: 220px;
  }
}

.phone-vertical {
  width: 240px;
  height: 483px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .phone-vertical {
    width: 180px;
    height: 380px;
    margin-left: 10px;
  }
}

@media (max-width: 550px) {
  .phone-vertical {
    margin-left: 20px;
    width: 80px;
  }
}

.phone-vertical_device, .phone-vertical_shadow, .phone-vertical_display {
  position: relative;
}

.phone-vertical_device {
  z-index: 2;
}

@media (max-width: 768px) {
  .phone-vertical_device {
    width: 162px;
    height: 345px;
  }
}

@media (max-width: 550px) {
  .phone-vertical_device {
    width: 80px;
    height: 168px;
  }
}

.phone-vertical_shadow {
  z-index: 1;
  right: 400px;
}

@media (max-width: 768px) {
  .phone-vertical_shadow {
    width: 180px;
    height: 381px;
    right: 301px;
    top: 20px;
  }
}

@media (max-width: 550px) {
  .phone-vertical_shadow {
    width: 88px;
    height: 186px;
    right: 142px;
    top: 10px;
  }
}

.phone-vertical_display {
  z-index: 33;
  right: 204px;
}

@media (max-width: 768px) {
  .phone-vertical_display {
    width: 141px;
    height: 251px;
    right: 149px;
  }
}

@media (max-width: 550px) {
  .phone-vertical_display {
    width: 69px;
    height: 123px;
    right: 74px;
  }
}

.phone-gorizontal {
  width: 483px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .phone-gorizontal {
    width: 363px;
    height: 200px;
  }
}

@media (max-width: 550px) {
  .phone-gorizontal {
    width: 177px;
    height: 92px;
    margin-right: 10px;
  }
}

.phone-gorizontal_device, .phone-gorizontal_shadow, .phone-gorizontal_display {
  position: relative;
}

.phone-gorizontal_device {
  z-index: 2;
  left: 78px;
}

@media (max-width: 768px) {
  .phone-gorizontal_device {
    width: 345px;
    height: 163px;
  }
}

@media (max-width: 550px) {
  .phone-gorizontal_device {
    width: 168px;
    height: 79px;
  }
}

.phone-gorizontal_shadow {
  z-index: 1;
  top: 13px;
  right: 714px;
}

@media (max-width: 768px) {
  .phone-gorizontal_shadow {
    width: 364px;
    height: 190px;
    right: 518px;
  }
}

@media (max-width: 550px) {
  .phone-gorizontal_shadow {
    width: 177px;
    height: 92px;
    right: 211px;
  }
}

.phone-gorizontal_display {
  z-index: 33;
  right: 320px;
}

@media (max-width: 768px) {
  .phone-gorizontal_display {
    width: 251px;
    height: 142px;
    right: 221px;
  }
}

@media (max-width: 550px) {
  .phone-gorizontal_display {
    width: 123px;
    height: 69px;
    right: 69px;
  }
}

.block-services {
  width: 100%;
  background: #F2F2F2;
}

.block-services__head h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #666D89;
  padding: 30px 0 0 30px;
}

.block-services__head p {
  width: 94%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767E9E;
  padding: 30px 10px 0 30px;
}

.block-services__parameters {
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.parameters__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: 104px;
}

.parameters__content img {
  margin-bottom: 40px;
}

.parameters__content_text {
  width: 222px;
}

.parameters__content_text h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666D89;
}

.parameters__content_text p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767E9E;
}

.block-portfolio {
  width: 100%;
  background: #2D303A;
}

.block-portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 290px;
  height: 22px;
}

.block-portfolio h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #666D89;
  padding: 40px 0 0 40px;
}

.block-portfolio p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767E9E;
  padding: 20px 0 0 40px;
}

.block-portfolio__images {
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-portfolio__images_image {
  width: 220px;
  height: 200px;
}

@media (max-width: 550px) {
  .block-portfolio__images_image {
    width: 161px;
    height: 138px;
  }
}

@media (max-width: 550px) {
  .block-portfolio__images_image img {
    width: 151px;
    height: 128px;
  }
}

.portfolio__button {
  width: auto;
  height: 20px;
  margin: 10px 0 0 40px;
  border: 1px solid gray;
  border-radius: 20%;
}

.portfolio__button span {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #DEDEDE;
}

.block-about {
  width: 100%;
  background: #DEDEDE;
}

.block-about h2 {
  padding: 20px 0 0 30px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #666D89;
}

.block-about p {
  width: 94%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 0 0 30px;
  color: #767E9E;
}

.block-about__persons {
  width: 90%;
  height: 443px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 550px) {
  .block-about__persons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 37px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
}

.persons__content {
  width: 318px;
  height: 382px;
}

@media (max-width: 550px) {
  .persons__content {
    height: 430px;
  }
}

.persons__content img {
  width: 90%;
  height: auto;
}

.persons__content p {
  padding: 15px 0 0 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  /* or 100% */
  /* section-headers */
  color: #666D89;
}

.persons__content p + p {
  padding: 5px 0 0 0;
  width: 80%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  /* or 183% */
  text-align: justify;
  /* section-descriptions */
  color: #767E9E;
}

.persons__content-links {
  width: 60%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.persons__content-links img:hover {
  width: 110%;
}
/*# sourceMappingURL=style.css.map */