* {
    margin: 0;
}
$color-selected-link :  #F06C64;
$color-background-black: #2D303A;

$media-tablet: 768px;
$media-mobile: 375px;
$media-header: 550px;
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf');
  }

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
 
    max-width: 1020px;
    height: 95px;
    background: $color-background-black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: $media-header)  {
       align-items: center;
        justify-content: center;

}
    &__nav {
        width:375px;
        height: 14px;
        @media (max-width: $media-header)  {
            display: none;
        }
    }
    &__menu {
        width: 20px;
        height: 20px;
        background: rgb(110, 86, 86);
        display: none;
        @media (max-width: $media-header) {
            display: inline-block;
            position: absolute;
            left: 39px;
        }
    }
  
    &__text h1{
  
        font-family: 'Lato';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;


color: #FFFFFF;
margin: 29px 0 41px 40px;
    }
    &__text {
        &_red {
            color: $color-selected-link;
        }
    }
    &__ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 42px 40px 39px 0;
      
    }
    &__ul li a{
        font-family: 'Lato';
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: right;
letter-spacing: -0.035em;
text-decoration: none;
color: #FFFFFF;
        &:hover {
            color: $color-selected-link;
        }
    }
    
}
.main {
    max-width: 1020px;
    width: 100%;
  
}
.block-swiper {
    width: 100%;
    height: 600px;
    background-color: $color-selected-link;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $media-tablet) {
        height: 420px;
    }
    @media (max-width: $media-header) { 
        height: 220px;
    }
    &__phones {
        width: 796px;
        
        height: 483px;
       
        display: flex;
        align-items: center;
        @media (max-width: $media-tablet) {
            height: 420px;
        }
        @media (max-width: $media-header) { 
            height: 220px;
        }

    }
}

.phone-vertical {
   
    width: 240px;
    height: 483px;
    display: flex;
    align-items: center;
    @media (max-width: $media-tablet) {
        width: 180px;
        height: 380px;
        margin-left: 10px;
    }
    @media (max-width: $media-header) {
        margin-left: 20px;
        width: 80px;
    } 
    &_device,
    &_shadow,
    &_display {
        position: relative;
    }
    &_device {
        z-index: 2;
        @media (max-width: $media-tablet) {
            width:162px;
            height: 345px;
        }
        @media (max-width: $media-header) {
            width: 80px;
            height: 168px;
        }
    }
    &_shadow {
        z-index: 1;
        @media (max-width: $media-tablet) {
            width:180px;
            height: 381px;
            right: 301px;
    top: 20px;
        }
        @media (max-width: $media-header) {
            width: 88px;
            height: 186px;
            right: 142px;
            top: 10px;
        }
        right: 400px;
    }
    &_display {
        z-index: 33;
        @media (max-width: $media-tablet) {
            width:141px;
            height: 251px;
            right: 149px;
            
        }
        @media (max-width: $media-header) {
            width: 69px;
            height: 123px;

            right: 74px;
        }
        right: 204px;
    }
}
.phone-gorizontal {
  
    width: 483px;
    height: 240px;
 display: flex;
    align-items: center;
    @media (max-width: $media-tablet) {
        width: 363px;
        height: 200px;
    }
    @media (max-width: $media-header) {
        width: 177px;
        height: 92px;
        margin-right: 10px;
    }
    &_device,
    &_shadow,
    &_display {
        position: relative;
    }
    &_device {
        z-index: 2;
        left: 78px;
        @media (max-width: $media-tablet) {
            width: 345px;
            height: 163px;
        }
        @media (max-width: $media-header) {
width: 168px;
height: 79px;
        }
    }
    &_shadow {
        z-index: 1;
        top: 13px;
        right: 714px;
        @media (max-width: $media-tablet) {
            width:364px;
            height: 190px;
            right: 518px;
        }
        @media (max-width: $media-header) {
            width: 177px;
            height: 92px;
            right: 211px;
        }
    }
    &_display {
        z-index: 33;
        @media (max-width: $media-tablet) {
            width: 251px;
            height: 142px;
            right: 221px;
        }
        @media (max-width: $media-header) {
            width: 123px;
            height: 69px;
            right: 69px;
        }
        right: 320px;

    }
}

.block-services {
    width: 100%;
    
    background: #F2F2F2;
    &__head h2 {
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 36px;
color: #666D89;
padding: 30px 0 0 30px;
    }
    &__head p{
        width: 94%;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #767E9E;
        padding: 30px 10px 0 30px;
    }
    &__parameters {
      padding-top: 40px;
        width: 90%;
        
        margin: 0 auto ;
       margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.parameters__content {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 104px;
 

    & img {
        margin-bottom: 40px;
    }
    &_text {
        width: 222px;
    }
    &_text h3 {
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 18px;
color: #666D89;
    }
    &_text p {
        font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;

text-align: justify;
color: #767E9E;
    }
}

.block-portfolio {
    width: 100%;
  
    background: $color-background-black;
    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 290px;
        height: 22px;
    }
    & h2 {
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 36px;
color: #666D89;
padding: 40px 0 0 40px;
    }
    & p {
        font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
color: #767E9E;
padding: 20px 0 0 40px;
    }
    &__images {
        margin: 0 auto;
        margin-top: 30px;
        width: 90%;
        
       
        display: flex;
        justify-content: space-around;
        
        flex-wrap: wrap;
        &_image {
            width: 220px;
            height: 200px;
            @media (max-width: $media-header) {
                width: 161px;
               height: 138px;
            }
            & img {
                @media (max-width: $media-header) {
               width: 151px;
               height: 128px;
              
                }
            }
           

        }
    }
}
.portfolio__button {
  width: auto;
    height: 20px; 
   margin: 10px 0 0 40px;

    border: 1px solid gray;
    border-radius: 20%;

    & span {
        font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
text-align: center;

color: #DEDEDE;
    }
}

.block-about {
    width: 100%;
    background: #DEDEDE;
   
    & h2 {
        padding: 20px 0 0 30px;
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 36px;
color: #666D89;

    }
    & p {
        width: 94%;
        font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 0 0 30px;
    color: #767E9E;
    }
    &__persons {
        width: 90%;
        height: 443px;
        
        margin: 0 auto;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $media-header) {
            flex-wrap: wrap;
            margin-top: 37px;
            justify-content: center;
            height: auto;
        }
        
    }
}
.persons__content {
    width: 318px;
    height: 382px;
    @media (max-width: $media-header) {
        height: 430px;
    }
      &  img {
        width: 90%;
            height: auto;
        @media (max-width: $media-header) {
            
        }
        }
    & p {
        padding: 15px 0 0 0;
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 18px;
/* or 100% */


/* section-headers */

color: #666D89;
    }
    & p + p {
        padding: 5px 0 0 0;
        width: 80%;
       
        font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
/* or 183% */

text-align: justify;

/* section-descriptions */

color: #767E9E;
    }
    &-links {
        width: 60%;
        height: 32px;
        
        display: flex;
        justify-content: space-between;
        
        & img:hover {
            width: 110%;
        }
    }
}
